{% extends 'base.html.twig' %}

{% block title %}Stock glass index{% endblock %}

{% block body %}
{# Тут дориализовать дропдаун меню #}
<div id="app_bar">
    <!-- Кнопки для перехода на другие страницы -->
    <button class="app_bar_button" onclick="window.location.href='{{ path('app_profile') }}'">Profile</button>
    <button class="app_bar_button" onclick="window.location.href='{{ path('app_stock_glass_view') }}'">Application</button>
    <button class="app_bar_button" onclick="window.location.href='{{ path('app_view_my_application') }}'">My Application</button>
</div>

<div class="example-wrapper">
{% if stock.applications is empty %}
    <h1 style = 'color:blue'>There are no applications :((( </h1>
{% else %}
    <div style='display: flex; flex-direction: row; item-align: center;'><h1>Glass index </h1> <div style = 'width: 1rem '></div><h1 style="color:pink"> {{stock.security}} </h1></div>
    <div style="color:green">
    {% for app in stock.applications%}
        
         {%if app.action == BUY %}
           <h2>Buy</h2>
         price :{{app.price}} | quantity{{app.quantity}} | total {{app.quantity * app.price}}
         <br>
         {%endif%}
    {%endfor%}
    </div>
   
    <div style="color:red">
    {%for app in stock.applications %}
         {%if app.action == SELL %}
          <h2>Sell</h2>
         price :{{app.price}} | quantity {{app.quantity}}
         <br>
         {%endif%}
    {%endfor%}
    </div>
{% endif %}

</div>
{% endblock %}