<!DOCTYPE html>

<title>Stock</title>

{% block body %}
    <h1 class="page-title">Stock</h1>

    <table class="details-table">
        <tbody>
            <tr>
                <th class="detail-header">Id</th>
                <td class="detail-value">{{ stock.id }}</td>
            </tr>
            <tr>
                <th class="detail-header">Security</th>
                <td class="detail-value">{{ stock.name }}</td>
            </tr>
            <tr>
                <th class="detail-header">Ticker</th>
                <td class="detail-value">{{ stock.ticker }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_stock_index') }}" class="back-link">Back to list</a>

    <a href="{{ path('app_stock_edit', {'id': stock.id}) }}" class="edit-link">Edit</a>

    {{ include('stock/_delete_form.html.twig') }}
{% endblock %}
